.container_1{
    border: 2px solid black;
    margin: 14px;
    padding: 14px;
    cursor: pointer;
}

.child_container_1{
    border: 2px solid black;
    margin: 14px;
    padding: 14px;
    cursor: pointer;
}

.child{
    border: 2px solid black;
    margin: 14px;
    padding: 14px;
    cursor: pointer;
}